* {
    margin: 0;
    padding: 0;
}

.menu {
    height: 15vh;
    background-color: cadetblue;
    text-align: center;
    font-size: 6em;
    color: yellow;
    font-weight: 900;
    text-shadow: 6px 6px 5px yellowgreen;
}

.background {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

.background img {
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.container {
    height: 85vh;
    width: 100vw;
    display: flex;
    position: relative;
    right: 20px;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.8;
}

.content {
    height: 90%;
    width: 35%;
    z-index: 1;
    background-color: aliceblue;
    box-shadow: 2px 2px 15px black;
}

.form {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.form input{
    height: 30px;
    padding: 5px;
    border-radius: 5% / 25px;
    border: solid 1px yellow;
}

.form button {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 25% / 25px;
    background-color: aqua;
}

.form button:hover {
    color: yellow;
    background-color: aquamarine;
}

.table {
    box-sizing: border-box;
    display: flex;
    background-color: yellow;
    opacity: 1;
    height: 70%;
    width: 90%;
    margin: 5%;
    flex-direction: column;
    overflow-y: scroll;
}

.table::-webkit-scrollbar {
    display: none;
}

.table-contet {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    width: 96%;
    height: 50px;
    margin: 1%;
}

.table-contet img {
    height: 98%;
    width: 50px;
    padding: 1%;
}

.table-contet span {
    display: inline-block;
    width: 80px;
    color: black;
    font-weight: bold;
    font-size: 2em;
    padding: 1%;
}

.table-contet span, img {
    box-sizing: border-box;
}

.placar {
    top: calc(50vh - 125px);
    left: 50px;
    position: absolute;
    height: 250px;
    width: 225px;
    background-color: aliceblue;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 3px 5px black;
}

.placar div {
    box-sizing: border-box;
    height: 30%;
    padding: 10px;
}

.placar img {
    height: 100%;
}

.placar span {
    display: inline-block;
    margin-right: 10px;
    font-size: 2em;
}

.delete-button {
    background-color: rgb(206, 15, 15);
    width: 90%;
    margin: 0 5%;
    border: none;
    border-radius: 10% / 10px;
    height: 40px;
    color: aliceblue;
    font-size: 1.5em;
    text-shadow: 2px 2px 5px black;
    box-shadow: 2px 2px 5px black;
}

.delete-button:hover {
    background-color: rgb(231, 35, 35);
}